.bannerContainer {
  height: 400px;
  overflow: hidden;

  img {
    width: 100%;
    object-fit: contain;
    display: block;
  }
}

.postHeader {
  max-width: 1120px;
  margin: 0 auto;

  h1 {
    color: var(--heading);
  }

  .postInfo {
    display: flex;
    flex-direction: row;

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 1rem;

      p,
      time {
        color: var(--info);
        margin-left: 0.2rem;
        font-size: 0.875rem;
      }

      & + div {
        margin-left: 1rem;
      }
    }
  }
}

.postContent {
  max-width: 1120px;
  margin: 0 auto;
  margin-top: 2rem;
}
